@mixin font-face($font, $family) {
  $name: '#{$font}-#{$family}';

  @font-face {
    font-family: $name;
    src:
      url('~fonts/#{$name}/#{$name}.otf') format('opentype'),
      url('~fonts/#{$name}/#{$name}.ttf') format('truetype'),
      url('~fonts/#{$name}/#{$name}.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  }
}

@mixin device() {
  .mobile &,
  .tablet & {
    @content;
  }
}

@mixin desktop() {
  .desktop & {
    @content;
  }
}

@mixin minHeight() {
  @include mq($max-height: 1000px) {
    @content;
  }
}

@mixin smallDesktop() {
  @include mq($max-width: 1250px) {
    @content;
  }

  @include mq($max-height: 800px) {
    @content;
  }
}
